aws_region              = ""
access_key              = ""
secret_key              = ""
backend_certificate_arn = ""
admin_certificate_arn   = ""
client_certificate_arn  = ""
db_username             = ""
db_password             = ""
admin_domain            = ""
client_domain           = ""